<h1>{{title}}</h1>
<main>
    <p>People Finder: This search tool allows you to find people with specific names.</p>
    <form method="post" action="/search">
        <label for="person-name">Person Name</label>
        <input id="person-name" type="text" name="personName" placeholder="First or Last name"/>

        <label for="search">Search</label>
        <button id="search" type="submit" value="search"></button>
    </form>
</main>
