<article>
  <header>
    <h2>Sign up</h2>
  </header>

  {{#if error}}
  <div id="signup-error" class="error">
    <h3>Error:</h3>
    {{ error }}
  </div>
  {{/if}}


  <form id="signup-form" action="/signup" method="post">
    <table class="signup">
      <tr>
        <td><label for="username">Username:</label></td>
        <td><input type="text" name="username" id="username"></td>
        <td></td>
      </tr>

      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" name="password" id="password"></td>
        <td><input type="submit" value="sign up"></td>
      </tr>
    </table>
  </form>

      <form action="/" method="get">
       <a href="/" type="submit">Already have an account? Click here to log-in</a>
  </form>
</article>