<form method="POST" id="check-prime" class="form">
  <div>
    <label for="number">
      Input a number:
      <input type="number" name="number" id="number" placeholder="number" class="search">
    </label>
    <button type="submit">Submit</button>
</form>