<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <article>
  <header>
      <title>Check Prime</title>
    <h1>Prime Numbers</h1>
  </header>
  </article>
  <br>
  <main>
    <div>
      <div>
        {{{body}}}
      </div>
    </div>
    <ul id="attempts"></ul>
  </main>
  <footer>
    <p class="footerClass">Jiawei Lu 20007605</p>
  </footer>
  <script src="/public/js/form.js"></script>
</body>

</html>